.watch-room {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background: black;
  overflow: hidden;

  .room-window {
    margin-top: 50px;
    width: 100%;
    height: 95%;
    background: rgba(143, 141, 136, 0.1);
    display: flex;
    overflow: hidden;

    .fullScreen-chat{
      background: transparent;
      z-index: 600;
      position: absolute;
      height: 100%;
    }

    .frame {
      height: 100%;
      position: relative;
      background: black;

      .video {
        width: 100%;
        height: 100%;
      }
      .disabled {
        pointer-events: none;
      }
      .hide-video {
        display: none;
      }
    }
    .fullScreen-frame{
      width: 100%;
    }
  }
  .fullScreen-room-window{
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(143, 141, 136, 0.1);
    display: flex;
    overflow: hidden;
}
}

@media screen and (max-width:414px) {
  .watch-room {
    height: 100vh;
  }
  .room-window {
    flex-direction: column-reverse;
    .chat {
      width: 100%;
      height: 71%;
      z-index: 2;
      position: relative;
    }
  }
  iframe{
    height: 27vh;
  }
  .hide-mobile-navbar{
    display: none;
  }
  .watch-room .room-window .frame {
    height: 26vh;
    top: 11vh;
    position: absolute;
    z-index: 2;
  }
}


@media screen and (min-width:414px) and (max-width:813px) {
  .control-panel{
    justify-content: flex-end;
    padding-right:20px;
  }
  .watch-room {
    height: 100vh;
  }
  .room-window {
    flex-direction: column-reverse;
    .chat {
      width: 100%;
    }
  }
  .watch-room .room-window .chat {
    background: transparent;
    z-index: 600;
    position: absolute;
  }
  .chat .chat-window {
    background: none;
    justify-content: flex-end;
    height: 100%;
  }
  .chat .chat-window .chat-input{
    align-self: flex-start;
    margin-left: 20px;
  }
  .user-list-container{
    height: 100px;
    flex-direction: column-reverse;
  }
  iframe{
    height: 80%;
  }
  .hide-navbar{
    display: none;
  }

}
@media screen and (max-width:813px) {
  .room-window {
    flex-direction: column-reverse;
    .frame {
      width: 100%;
    }
  }
  .full-sceen-btn{
    display: none;
  }

}
@media screen and (min-width:813px){
  .room-window {
    flex-direction: row;
    .chat {
      width: 25%;
      height: 100%;
    }

    .frame {
      width: 75%;

      .video {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    .fullScreen-frame{
      width: 100%;
    }
  }

  .fullScreen-chat{
    background: transparent;
    z-index: 600;
    position: absolute;
    height: 100%;
  }
  .chat-background{
    background: transparent;
  }
  .fullScreen-room-window{
      margin-top: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(143, 141, 136, 0.1);
      display: flex;
      overflow: hidden;
      // flex-direction: row-reverse;
  }
}

@media screen and (max-height:415px){
  .control-panel{
    justify-content: flex-end;
    padding-right:20px;
  }
  .full-sceen-btn{
    display: none;
  }
  iframe{
    height: 111%;
  }
  .watch-room .room-window {
    margin-top: 0;
    width: 100%;
    height: 100%;
    background: rgba(143, 141, 136, 0.1);
    display: flex;
    overflow: hidden;
  }
  .user-list-container {
    display: flex;
    flex-direction: column-reverse;
    flex-direction: column;
    height: 30%;
    width: 100%;
    background: transparent;
    position: relative;
  }
  .user-list{
    background: transparent;
  }
  .chat .chat-window .chat-input {
    display: flex;
    align-self: flex-start;
    margin-left: 0;
    background: transparent;
    border-radius: 10px;
    padding: 5px;
    justify-content: space-around;
    width: 77%;
    input {
      background-color: rgba(255,255,255,0.2);
      backdrop-filter: blur(30px);
      box-shadow: 10px 10px 10px rgba(46,54,68,0.03);
      position: relative;
      z-index: 1;
      width: 80%;
      color: rgb(255, 255, 255);
    }
    .watch-room .room-window .chat {
      flex-direction: column;
      width: 100%;
      height: 100%;
      bottom: 0px;
    }
}
.control-panel .reactions, .control-panel .volume{
  position: relative;
  z-index: 800;
}
  .hide-navbar{
    display: none;
  }
}

@media screen and (min-width:414px) and (max-width:813px) and (min-height:415px){
  .chat .chat-window .chat-input{
    width: 80%;
  }
  .control-panel .reactions, .control-panel .volume{
    position: relative;
    z-index: 800;
  }
  .full-sceen-btn{
    display: none;
  }
  .watch-room .room-window .chat {
    height: 97%;
    bottom: 10px;
  }
}


@media screen and (min-width:414px) and (max-width:805px) and (min-height:415px){
  .chat .chat-window .chat-input{
    width: 60%;
  }
}

.recived-gift{
  border: 2px solid rgba(27, 127, 204, 0.35);
  position: absolute;
  z-index: 999;
  border-radius: 50%;
  background-color: #d100003d;
}
.start-animation{
  animation-duration: 3s;
  animation-name: recived-gift;
  animation-fill-mode:forwards;
}

@keyframes recived-gift {
  0% {
    transform: scale(5);
    opacity: 30%;
    top: 80%;
    right: 5px;
  }

  50% {
    opacity: 100%;
  }
  100% {
    top: 30%;
    right: 30px;
    transform: scale(1);
  }
}

.gift-sender{
  >.avatar-container{
    background: linear-gradient(315deg, #d57c3a, #d53a9d);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(218, 218, 218);
    margin-top: -5px;
    margin-left: -20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.397);
    overflow: hidden;
    >.avatar-img{
      width: 100%;
      height: 100%;
      background-size:100% 100%;
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  >.name{
    margin-left: -10px;
    font-weight: bold;
    margin-top: 54px;
    display: table;
    font-size: 12px;
    text-shadow: 2px 2px 4px #000000;
  }
}
.sended-gift{
  width: 80px;
  height: 80px;
  background-size:100% 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.sended-kiss{
  color: #e62f6c;
  background-image: url(../img/kiss.png);
}
.sended-drink{
  color: #61b3e5;
  background-image: url(../img/drink.png);
}
.sended-small-popcorn{
  color: #a1650e;
  background-image: url(../img/popcorn.png);
}

.char{
  font: 16px Monaco, MonoSpace;
  font-weight: bold;
  height: 57px;
  position: absolute;
  width: 20px;
  left: 28px;
  top: -19px;
  transform-origin: bottom center;
  text-shadow: 2px 2px 4px #000000;
  animation: colorchange 20s infinite alternate;
}
@for $i from 1 through 14 {
  .char-#{$i} {
    transform: (rotate(((-44)+$i*18)+deg));
  }
}
@keyframes colorchange {
  0% {
    color:#61b3e5;
  }
  10% {
    color:  #e62f6c;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #a1650e;
  }
  40% {
    color: #3597d4;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: #1abc9c;
  }
  70% {
    color: #61b3e5;
  }
  80% {
    color: #a1650e;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: #e62f6c;
  }
}

.msgForUser{
  color: rgb(231, 231, 231);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  border: 1px solid  #a1650e;
  position: absolute;
  top: 40px;
  right:-69px;
  padding: 10px;
  z-index: 799;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  min-width: 250px;
  width:10vw;
  max-height: 127px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}
.slide-left {
    animation: slide-left 0.5s alternate forwards;
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
.close-msg{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: 0.2s;
  &:hover{
    color: #929292;
  }
}
.old-msg{
  margin-bottom: 10px;
  display: flex;
  font-size: 14px;
  span:first-child {
    font-weight: bold;
    margin-right: 10px;
  }
  span:nth-child(2) {
    color: #929292;
    font-family: 'Just Another Hand', cursive;
    font-family: 'Handlee', cursive;
    word-break: break-all;
    padding-right: 20px;
    img{
      width: 20px;
      height: auto;
    }
  }
}
.new-msg{
  display: flex;
  flex-direction: row;
  .sender-avatar-container{
    background: linear-gradient(315deg, #d57c3a, #d53a9d);
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    place-items: center;
    margin: 2px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }
  .sender-avatar{
    width: 100%;
    height: 100%;
    background-size:100% 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.sender-msg-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .sender-msg-name{
    font-weight: bold;
    margin-bottom: 2px;
  }
  .sender-msg-txt{
    font-size: 14px;
    font-family: 'Just Another Hand', cursive;
    font-family: 'Handlee', cursive;
    word-break: break-all;
    img{
      width: 20px;
      height: auto;
    }
  }
}
.reply-btn{
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.76);
  color: #141414;
  border-radius: 5px;
  padding:2px 5px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow:0 15px 35px rgba(0,0,0,0.5);
  &:hover{
    background-color: #ffffff;
  }
}


.old-msg{
  margin-bottom: 5px;
  font-size: 12px;
}
.new-msg .sender-avatar-container {
  width: 30px;
  height: 30px;
}
.sender-msg-container{
  .sender-msg-name, .sender-msg-txt{
    font-size: 13px;
  }
}
.reply-btn {
  font-size: 12px;
}
//////////////////
@keyframes changeBorderColor {
  0% {
    border: 2px solid #ff0000;
  }
  5% {
    border: 2px solid   #ff5100;
  }
  10% {
    border: 2px solid #ffae00;
  }
  15% {
    border: 2px solid #a1650e;
  }
  20% {
    border: 2px solid #ff0000;
  }
  25% {
    border: 2px solid #ff0077;
  }
  30% {
    border: 2px solid  #ea00ff;
  }
  35% {
    border: 2px solid  #6f00ff;
  }
  40% {
    border: 2px solid  #0051ff;
  }
  45% {
    border: 2px solid  #2980b9;
  }
  50% {
    border: 2px solid  #00f7ff;
  }
  55% {
    border: 2px solid #00ffbf;
  }
  60% {
    border: 2px solid #00ff55;
  }
  65% {
    border: 2px solid #5ec4ff;
  }
  70% {
    border: 2px solid #3affd8;
  }
  75% {
    border: 2px solid #ffc163;
  }
  80% {
    border: 2px solid #ff6600;
  }
  85% {
    border: 2px solid  #e62f6c;
  }
  90% {
    border: 2px solid  #ff00b3;
  }
  95% {
    border: 2px solid #a1650e;
  }
  100% {
    border: 2px solid #ffc163;
  }
}
.gif-img {
  width: 20px;
  height: auto;
}
.gif-img-trolldance{
  width: 40px;
  height: auto;
}
.hidden{
  display: none;
}

@media screen and (max-width:414px) {
  .msgForUser{
    top: 400px;
    right: -84px;
  }
  .old-msg{
    margin-bottom: 5px;
    font-size: 12px;
  }
  .new-msg .sender-avatar-containerr {
    width: 30px;
    height: 30px;
  }
  .sender-msg-container{
    .sender-msg-name, .sender-msg-txt{
      font-size: 13px;
    }
  }
  .reply-btn {
    font-size: 12px;
  }
  .middle-play-btn{
    width: 74px;
    height: 54px;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
  }
  @keyframes recived-gift {
    0% {
      transform: scale(5);
      opacity: 30%;
      top: 100%;
      right: 5px;
    }
  
    50% {
      opacity: 100%;
    }
    100% {
      top: 60%;
      right: 30px;
      transform: scale(1);
    }
  }
  .watch-room .room-window {
    background: rgb(0, 0, 0);
  }
}

@media screen and (min-height:415px) {
  .player-wrapper {
    position: relative;
    padding-top: 56.25% ;/* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  .middle-play-btn{
    display: none;
  }
}
@media screen and (min-width:414px) and (max-width:813px) {
  .msgForUser{
    top: 110px;
    right: -84px;
    min-width: 220px;
  }
  .old-msg{
    margin-bottom: 5px;
    font-size: 12px;
  }
  .new-msg .sender-avatar-container {
    width: 30px;
    height: 30px;
  }
  .sender-msg-container{
    .sender-msg-name, .sender-msg-txt{
      font-size: 13px;
    }
  }
  .reply-btn {
    font-size: 12px;
  }
  .middle-play-btn{
    display: none;
  }
}
@media screen and (max-height:415px){
  .middle-play-btn{
    width: 84px;
    height: 64px;
    // top: 50%;
    top: 48%;
    left: 50%;
    transform: translate(-50% , -50%);
  }
  .msgForUser{
    top: 240px;
    right: -84px;
    overflow-y: scroll;
  }
  .old-msg{
    margin-bottom: 5px;
    font-size: 12px;
  }
  .new-msg .sender-avatar-container {
    width: 30px;
    height: 30px;
  }
  .sender-msg-container{
    .sender-msg-name, .sender-msg-txt{
      font-size: 13px;
    }
  }
  .reply-btn {
    font-size: 12px;
  }
  .player-wrapper {
    position: relative;
    padding-top: 50.25% ;/* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: -40px;
    left: 0;
  }
}
.msg-about-new-user{
  position: absolute;
    z-index: 999;
    color: white;
}

.middle-play-btn{
  position: absolute;
  z-index: 999;
  background-color: #ff003f;
  // background-color: rgb(196, 0, 26);
  // background: -webkit-linear-gradient(0deg, #d1009d, #d10000);
  display: flex;
  place-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  .fa-play{
    color: white;
    font-size: 25px;
  }
}

